button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: 0;
}

%spin {
    animation: spin 575ms cubic-bezier(0.075, 0.82, 0.17, 1.135);
}

.spin-right {
    @extend %spin;

    @keyframes spin {
        0% {
            transform: scale(0) rotate(0deg);
        }

        100% {
            transform: scale(1) rotate(720deg);
        }
    }
}

.spin-left {
    @extend %spin;

    @keyframes spin {
        0% {
            transform: scale(0) rotate(0deg);
        }

        100% {
            transform: scale(1) rotate(-720deg);
        }
    }
}

:not(.dark) .icon-sun { display: block; } /* display sun icon by default */
.icon-moon, .icon-sun { display: none; } /* hide by default */
.dark .icon-moon { display: block; }
.light .icon-moon { display: none; }
.dark .icon-sun { display: none; }
.light .icon-sun { display: block; }
