/* navbar.css */

/* Navbar Container Styles */
.navbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem; /* Adjust based on your navbar height */
    transition: transform 0.3s ease;
    z-index: 10;
    background-color: var(--keypress-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar Buttons */
.nav-btn {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    transition: background-color all 0.3s ease;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    color: var(--keypress-1-text);
    flex-shrink: 0;
    margin-right: 1rem;
}

.nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.nav-btn:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--ring), 0 0 0 4px var(--ring-offset);
}

/* Logo Styles */
.navbar-left .logo {
    transition: opacity 0.3s ease, margin-right 0.3s ease;
    margin-right: 1rem; /* Space between logo and buttons */
    flex-shrink: 0;
}

/* Responsive Adjustments */
@media (max-width: 500px) {
    /* Hide the logo and adjust spacing */
    .navbar-left .logo {
        opacity: 0;
        margin-right: 0;
        width: 0;
        overflow: hidden;
    }
    /* Reduce margin-right for .nav-btn on small screens */
    .nav-btn {
        margin-right: 0.5rem;
    }
}

/* User Email Styles */
.user-email {
    transition: opacity 0.3s ease, max-width 0.3s ease;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 1rem;
}

@media (max-width: 800px) {
    /* Hide the user email on smaller screens */
    .user-email {
        opacity: 0;
        max-width: 0;
        margin-right: 0rem;
    }
}